/.vscode
src/data/Test1/-1590.csv
src/data/Test1/-3075.csv
src/data/Test1/-3090.csv
src/data/Test1/090.csv
src/data/Test1/1590.csv
src/data/Test1/3075.csv
src/data/Test1/3090.csv
src/data/Test1/4575.csv
src/data/Test1/6060.csv
src/data/Test1/6075.csv
src/data/Test1/7560.csv
src/data/Test2/075.csv
src/data/Test2/1575.csv
src/data/Test2/3075.csv
src/data/Test2/4575.csv
src/data/Test2/6075.csv
src/data/Test2/7560.csv
src/data/Test2/7575.csv
src/data/Test2/9060.csv
